fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.5
python-multipart==0.0.20
networkx==3.1
pytest==8.3.4
httpx==0.28.1
opencv-python==4.10.0.84 ; python_version >= "3.11"
pillow==10.4.0 ; python_version >= "3.11"
paddleocr==2.8.1 ; python_version >= "3.11"
